@using Webzine.WebApplication.ViewModels
@model StyleViewModel
<div class="row m-0 p-0 mb-4">
    <h2>Titres ayant le style Jazz</h2>
</div>
@foreach (var objet in Model.Titres)
{
    <div class="media mb-4">
        <img src="@objet.AlbumPicture" class="mr-3" height="64">
        <div class="media-body">
            <a href="#"><h5 class="mt-0"> @objet.Title </h5></a>
            Durée : @objet.DurationToString()
        </div>
    </div>
}