<html>
    <head>
        <title>
            WebZine
        </title>
    </head>
    <body>
        <h1>
            Webzine @ViewBag.Nom
        </h1>
        

        <form method="post" action="/home/index">
            <input type="text" name="nom" />
            <input type="text" name="prenom" />
            <button type="submit" >Submit</button>
        </form>

    </body>
</html>