
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebZine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />


</head>
<body>

    @Html.Partial("Navbar")
    <div class="row m-0 p-0 mt-5">
        <div class="col ml-5">
            @RenderBody()

        </div>
        @if (ViewData["Admin"] == null)
        {
        <div class="col-sm-2">
            @* colonne A propos *@
            @Html.Partial("Sidebar")

        </div>
        }
    </div>

    <p>Projet web app Diiage promo 2022</p>

    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>






