@using Webzine.Entity;
@model List<Style>
<div class="row container">
    <h2>A propos</h2>
    <p>Retrouvez les pépites sur notre webzine</p>
</div>
<div class="row container">
    <h3>Styles</h3>
    <ul>
        @foreach(Style style in Model) {
            @Html.DisplayFor(s => style.NomStyle);
        }
</ul>
    </div>