<div class="row mb-3">
    <h2> Contact </h2>
</div>
<div class="row">
    C.U.C.D.B - DIIAGE
</div>
<div class="row">
    69 Avenue Aristide Briand
</div>
<div class="row mb-3">
    21000 Dijon
</div>
<div class="row d-flex align-items-center">
    <i class="fas fa-phone-alt mr-2"></i>
    03 80 73 45 90
</div>
<div class="row d-flex align-items-center mb-3">
    <i class="fas fa-envelope mr-2"></i>
    <a href="mailto:secretariat@cucdb.fr">
        secretariat@cucdb.fr
    </a>
</div>
<div class="row mb-1">
    <h2>Suivez-nous</h2>
</div>
<div class="row">
    <div class="col">
        <div class="row d-flex justify-content-center">
            <a href="http://diiage.cucdb.fr/">
                <i class="fas fa-link fa-3x"></i>
            </a>
        </div>
        <div class="row d-flex justify-content-center ">
            <a href="http://diiage.cucdb.fr/">
                Site officiel du DIIAGE
            </a>
        </div>
    </div>
    <div class="col">
        <div class="row d-flex justify-content-center ">
            <a href="https://fr-fr.facebook.com/pages/Cucdb/129613393756525">
                <i class="fab fa-facebook fa-3x"></i>
            </a>
        </div>
        <div class="row d-flex justify-content-center">
            <a href="https://fr-fr.facebook.com/pages/Cucdb/129613393756525">
                Facebook
            </a>
        </div>
    </div>
    <div class="col text-center"> 
        <div class="row d-flex justify-content-center">
            <a href="https://cucdb.fr/">
                <i class="fab fa-twitter fa-3x"></i>
            </a>
        </div>
        <div class="row d-flex justify-content-center">
            <a href="https://cucdb.fr/">
                Twitter
            </a>
        </div>
    </div>
</div>