<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <h1 class="text-primary">Silicone Soul - Right On, Right On</h1>

        <div class="row d-flex align-items-center">
            <p class="m-0 ml-3"><i class="fas fa-calendar"></i> Le 03/01/2019 à 12:30</p>
            <p class="m-0 ml-4"><i class="fas fa-heart"></i> 6</p>
            <p class="m-0 ml-4"><i class="fas fa-tags"></i> Styles : <a href="#">Funky Club House</a></p>
            <button type="button" class="btn btn-outline-primary ml-3"><i class="fas fa-thumbs-up"></i> Like</button>
            <a class="m-0 ml-4" href="#"><i class="fas fa-edit"></i> Editer</a>
        </div>

        <div class="mt-4">
            <img class="float-right ml-2 mb-2" height="200"
                 src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It
                has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy
                text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
            </p>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bV2Bm7kj3cM"
                    allowfullscreen></iframe>
        </div>

        <h2 class="mt-4">Donne ton avis sur le titre</h2>
        <form>
            <div class="form-group row">
                <label for="inputNom" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNom" placeholder="Votre nom (exemple : Emmanuel)">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCommentaire" class="col-sm-2 col-form-label">Commentaire</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="inputCommentaire" placeholder="Votre commentaire.."></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
        </form>

        <h2 class="mt-4">Commentaires</h2>
        <div class="row">
            <div class="col-2 text-center overflow-hidden">
                <img width="100" src="https://static.thenounproject.com/png/17241-200.png" alt="">
            </div>
            <div class="col">
                <div class="row font-weight-bold"><span class="text-primary">Manu</span><span class="text-secondary">, le 14/12/2019 à 13h22</span></div>
                <div class="row">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            </div>
        </div>

    </div>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/popper.js/popper.js"></script>
</body>

</html>