@using Webzine.WebApplication.Areas.Administration.ViewModels
@model Artiste

@{
    ViewData["Admin"] = true;
}

<div class="container-fluid">
    <h1 class="mt-2">Supprimer un artiste</h1>

    <hr />

    <p>Etes-vous sûr de vouloir supprimer l'artiste "@Model.Nom" ?</p>
    <form asp-action="Delete" method="post">
        <input asp-for="@Model.IdArtiste" hidden />
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
    <div class="row m-0 p-0 mt-5">
        <a href="@Url.Action("Index", "AdminArtist")">Retour à l'administration des artistes</a>
    </div>


</div>
