
@{
    ViewData["Title"] = "Creer un titre";
    ViewData["Admin"] = true;
}

    <div>
        <h1>Créer un titre</h1>
        <hr class="style1">

        <form method="post">
            <div class="form-group row">
                <label for="Author" class="col-2 col-form-label">Nom de l'artiste</label>
                @await Component.InvokeAsync("ArtistsList")
            </div>

            <div class="form-group row">
                <label for="Title" class="col-2">Titre</label>
                <input type="text" class="form-control col-10" />
            </div>

            <div class="form-group row">
                <label for="Description" class="col-2">Chronique</label>
                <textarea class="form-control col-10"></textarea>
            </div>

            <div class="form-group row">
                <label for="ReleaseDate" class="col-2">Date de sortie</label>
                <input type="date" value="" class="col-4 form-control" />
                <label for="Duration" class="col-2">Duree en secondes</label>
                <div class="input-group col-4">
                    <input type="number" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupPrepend">Secondes</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="AlbumPicture" class="col-2">Jaquette de l'album</label>
                <input type="text" class="form-control col-10" />
            </div>

            <div class="form-group row">
                <label for="UrlListen" class="col-2">URL d'écoute</label>
                <input type="text" class="form-control col-10" />
            </div>

            <div class="form-group row">
                <label for="Styles" class="col-2">Styles</label>
                <div class="col-10">
                    @await Component.InvokeAsync("StylesList")
                </div>

            </div>

            <div class="form-group row">
                <label for="ReadCounter" class="col-2">Nombre de lectures</label>
                <span class="col-4">0</span>
                <label for="LikeCounter" class="col-2">Nombre de likes</label>
                <span class="col-4">0</span>
            </div>

            <div class="row">
                <span class="col-2"></span>
                <span class="col-10"><input type="submit" class="btn btn-primary" value="Sauvegarder" /></span>
            </div>

        </form>

        <br />

        <a href="#">Retour a l'administration des titres</a>

    </div>