@model Titre
@{
    ViewData["Title"] = "DeleteTitle";
    ViewData["Admin"] = true;
}


<div>
    <h1>Supprimer un titre</h1>
    <hr class="style1">

    <p>Etes vous sur de vouloir supprimer le titre "@Model.Libelle" de @Model.Artiste.Nom ?</p>
    <button class="btn btn-danger">Supprimer</button>

    <br />
    <a href="#">Retour a l'administration des titres</a>
</div>