
@{
    ViewData["Title"] = "DeleteTitle";
}
@model Webzine.WebApplication.Areas.Administration.ViewModels.TitleViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <title>Titres</title>
</head>
<body>
    <div>
        <h1>Supprimer un titre</h1>
        <hr class="style1">

        <p>Etes vous sur de vouloir supprimer le titre "@Model.Title.Title" de @Model.Title.Artist.Nom ?</p>
        <button class="btn btn-danger">Supprimer</button>

        <br />
        <a href="#">Retour a l'administration des titres</a>
    </div>
    </body>
</html>

