@model Pays

@{
    ViewData["Admin"] = true;
}

<div class="container-fluid">
    <h1 class="mt-2">Supprimer un pays</h1>

    <hr />

    <p>Etes-vous sûr de vouloir supprimer le pays "@Model.Nom" ?</p>
    <form asp-action="Delete" method="post">
        <input asp-for="@Model.IdPays" hidden />
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
    <div class="row m-0 p-0 mt-5">
        <a href="@Url.Action("Index", "Pays")">Retour à l'administration des pays</a>
    </div>


</div>
