@model Pays
@{
    ViewData["Admin"] = true;
}

<div class="container-fluid">
    <h1 class="mt-2">Éditer un pays</h1>

    <form asp-action="Edit" method="post" class="form-inline">
        <input asp-for="@Model.IdPays" hidden />
        <div class="form-group mx-sm-3 mb-2">
            <label for="paysName" class="col-form-label">Nom du pays<span class="text-danger">* </span></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="paysName" asp-for="@Model.Nom">
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Sauvegarder</button>
    </form>

    <div class="row m-0 p-0 mt-5">
        <a href="@Url.Action("Index", "Pays")">Retour à l'administration des pays</a>
    </div>

</div>