
@{

    Layout = "~/Areas/Administration/Views/Shared/_LayoutAdm.cshtml";
   
}
@model Style

    <div>
        <h2>Confirmer la suppression</h2>
        <p>Etes-vous sûr de vouloir supprimer le style de musique "@Model.Libelle"</p>
        <form action="#" method="post">
            <input type="text" name="Id" value="@Model.IdStyle" hidden />
            <button class="btn btn-danger" type="submit">Supprimer</button>
        </form>
    </div>

