@using Webzine.WebApplication.Areas.Administration.ViewModels
@model AdminStyleViewModel

@{ Layout = "_LayoutAdm";}

<div>
    <h2>Styles</h2>
    <hr class="style1"/>
    <button class="btn btn-primary mb-2"><i class="fas fa-plus"></i>Ajouter un nouveau style</button>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th  scope="col">Libellé</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var element in Model.Styles)
            {
            <tr >
                <td>@element.Libelle</td>
                <td class="text-center"><a href="/administration/style/edit/@element.IdStyle" class="col"><i class="fas fa-edit"></i></a><a href="#" class="col"><i class="fas fa-trash"></i></a></td>
            </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>